<h1>Bulk Discounts at <%= @merchant.name %></h1>

<ul>
  <% @merchant.bulk_discounts.each do |bd| %>
    <li><strong>Percent Discount: </strong><%= bd.percent_discount %><br><strong>Quantity Threshold: </strong><%= bd.quantity_threshold %></li>
    <br>
  <% end %>
</ul>
