<h2>Percent Discount: <%= @bd.percent_discount %></h2>
<h2>Quantity Threshold: <%= @bd.quantity_threshold %></h2>

<%= link_to "Edit Discount", "/merchants/#{@merchant.id}/bulk_discounts/#{@bd.id}/edit?merchant_id=#{@merchant.id}", method: :get %>
